.DataList.Discussions .Item {
    border: 1px solid #d6d7d9;
    border-radius: 20px;
    padding: 1em;
    margin: 1em 0;
    page-break-inside: avoid;
}

.DataList.Discussions {
    column-count: 3;
}